@charset "UTF-8";

@media screen and (min-width: 601px) and (max-width: 962px) {

    body {
        background-image: linear-gradient(to top, #49a04d, #5f2c82);
    }

    section#login {
        width: 80vw;
        height: 75vh;
    }

    section#login > div#img {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario > h1 {
        font-size: 3rem;
        padding: 15px;
    }

    section#login > div#formulario > p {
        padding: 30px 0px;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    section#login > div#formulario > input {
        padding: 15px;
    }

    input[type="submit"] {
        display: block;
        width: 100%;
        margin: 15px auto;
        margin-bottom: 10px;
    }

    a.esqueceu {
        padding: 10px;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 963px) {

    body {
        background-image: linear-gradient(to top, #49a04d, #5f2c82);
    }

    section#login > div#formulario > h1 {
        font-size: 3rem;
        padding: 0px auto;
    }

    div#formulario > p {
        font-size: 1em;
        padding: 20px;
        margin: 10px auto;
    }

    section#login {
        width: 800px;
        height: 500px;
    }

    section#login > div#img {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    input[type="submit"] {
        margin: 12px auto;
        padding: 15px;
    }

    a.esqueceu {
        padding: 12px;
    }

}