@charset "UTF-8";

@media screen and (min-width: 601px) and (max-width: 962px) {

    body {
        background-image: linear-gradient(to top, #49a04d, #5f2c82);
    }

    section#login {
        width: 90vw;
        height: 80vh;
    }

    section#login > div#img {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 963px) {

    body {
        background-image: linear-gradient(to top, #49a04d, #5f2c82);
    }

    section#login {
        width: 990px;
        height: 600px;
    }

    section#login > div#img {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }
}