@charset "UTF-8";

/*
 Paleta  de Cores:
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 400px;
    height: 530px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.456);

    transition: width 0.4s, heght 0.4s;
    transition-timing-function: ease;
}

section#login > div#img {
    background: #5f2c82 url(../imagens/img-login.jpg);
    display: block;
    height: 200px;
    background-size: cover;
    background-position: left center;
}

section#login > div#formulario > h1 {
    text-align: center;
    margin: 10px 0px;
    color: #5f2c82;
}

div#formulario > p {
    font-size: 0.8em;
    font-weight: justify;
    padding-bottom: 15px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

section#login > div#formulario > form {
    background-color: #5f2c82;
    border-radius: 40px;
}

section#login > div#formulario > form > div.campos > label {
    display: none;
}

div.campos {
    display: flex;
    align-items: center; /* Alinha ícone e input verticalmente no centro */
    background-color: #5f2c82; /* Cor de fundo igual ao formulário */
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 5px;
}
div.campos > input:focus-within {
    background-color: white;
}

div.campos > i {
    font-size: 2em;
    width: 40px;
    color: white;
    text-align: center;
}

div.campos > input {
    background-color: #94cfcd;
    font-size: 1em;
    flex: 1; /* Faz o input ocupar todo o resto do espaço disponível */
    height: 40px; /* Defina uma altura fixa para ficar harmônico */
    border: 0px;
    border-radius: 15px;
    padding: 0 10px; 
}

section#login > div#formulario > form > input {
    display: block;
    width: 100%;
    margin: 15px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}


input.submit {
    background-color: #49a09d;
    display: block;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px;
    width: 100%;
}

input.submit:hover {
    background-color: #3d807f;
}

a.esqueceu {
    display: block;
    text-decoration: none;
    color: #5f2c82;
    font-size: 14px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #49285f;
    padding: 5px;
    margin: 3px;
    text-align: center;
}

input::-webkit-input-placeholder {
  color: #7c2a75;
}